<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Vue.js App</title>
    <link href="main.css" rel="stylesheet">
</head>

<body>
    <div id="app" v-on:click.right.prevent="rightClickIsBaned">
        <button @click="handleClick">クリック</button>
        <div v-if="show" v-on:mousewheel="show=false">文字の上でマウスホイールを回転してみて</div>
        <input v-bind:value="message" v-on:change="handleInput">
        <div v-on:click="handler('div1')">
            click-div1
            <a href="#top" v-on:click.stop="handler('div2')">click-stop-div2</a>
        </div>
        <div v-on:click.capture="handler('div1')">
            click-capture-div1
            <div v-on:click="handler('div2')">
                click-div2
                <div v-on:click="handler('div3')">click-div3</div>
            </div>
        </div>
        <textarea v-model="message"></textarea>
        <pre>{{message}}</pre>
        <label>
            <input type="checkbox" v-model="val" true-value="Yes" false-value="No"> {{ val }}
        </label>
        <label><input type="checkbox" v-model="multiCheck" value="A"> A</label>
        <label><input type="checkbox" v-model="multiCheck" value="B"> B</label>
        <label><input type="checkbox" v-model="multiCheck" value="C"> C</label>
        <p>{{ multiCheck }}</p>
    </div>
    <script src=" https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js "></script>
    <script src="main.js "></script>
</body>

</html>